@import './bootstrap/mixins';
@import "bootstrap/_variables";
@import "request-result";

.booking-wrapper {
  .loading-result {
    .progress {
      margin: 0;
      height: 4px;
      .progress-bar {

      }
    }
  }
  .empty-result {
    font-size: $font-size-base;
    padding: $padding-base;
  }
}

.disabled{
    color: $input-btn-disable-color;
    pointer-events: none;
    &::placeholder {
      color: $input-btn-disable-color;
    }  
}

.booking-list {
  margin-top: $margin-base;
  .booking-filter-form-title {
    .booking-table-info-label {
      margin-left: 10px;
      display: inline-block;
    }
    .booking-table-info-value {
      margin-left: 50px;
      display: inline-block;
    }
  }
  table.booking-table {
    border-right: 5px solid $gray-40;
    border-left: 5px solid $gray-40;
    border-bottom: 1px solid $gray-40;
    background: $white;
    thead {
      tr {
        th {
          height: 50px;
        }
      }
    }
    tbody {
      tr {
        &.booking-table-row {

          &.reservation-pending {
            background-color: #EFEFEF;
          }
          &.reserved {
            background-color: #EFEFEF;
          }
          &.reservation-failed {
            background-color: #EFEFEF;
          }
          &.payment-failed {
            background-color: #EFEFEF;
          }
          &.payment-succeed {
            background-color: #EFEFEF;
          }
          &.reversed {
            background-color: #E3F2FD;
          }
          &.SUCCESS{
            background-color: #C8E6C9;
          }
          &.issue-failed-with-reference {
            background-color: #FFCCBC;
          }
          &.FAILED {
            background-color: #FFEBEE;
          }
          &.booking-with-cancellation {
            background-color: #fff59d;
          }
          &.isB2b {
            background-color: #E1BEE7;
          }
        }
      }
    }
  }
  .action-button {
    @include border-radius($border-radius-lg);
    padding: 6px 0px 4px 3px;
    width: auto !important;
    min-width: auto;
  }
  .action-list {
    width: 135px;
    .btn {
      margin-right: 0px;
    }
  }
  .submit-container {
    padding: $padding-base 0 0;
    justify-content: flex-end;
  }
}

.booking-filter-form-title {
  border-right: 5px solid $gray-100;
  border-left: 5px solid $gray-100;
  border-bottom: 1px solid $gray-30;
  padding: $padding-base 25px;
  background: $white;
  .form-title-icon {
    font-size: 50px;
    margin-left: $margin-lg;
    color: $gray-90;
  }
  .btn-xs {
    &.open {
      i:before {
        content: "\e901" !important;
      }
    }
  }
}

.booking-col-container {

  .booking-row {

    .booking-col {
      @include make-col(12);
      border: 1px solid $gray-40;
      .col-label {
        padding-top: $padding-sm + $padding-xs;
        padding-bottom: $padding-sm + $padding-xs;
        padding-left: $padding-sm;
        display: inline-block;
        min-width: 140px;
        font-size: $h5-font-size;
        border-left: 1px solid $gray-40;
        color: $black;
      }
      .col-content {
        padding-top: $padding-sm + $padding-xs;
        padding-bottom: $padding-sm + $padding-xs;
        padding-left: $padding-sm;
        padding-right: $padding-sm;
        display: inline-block;
        font-size: $h4-font-size;
        color: $gray-90;

      }
      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }
      &.full-row {
        @include media-breakpoint-up(lg) {
          @include make-col(12);
        }
      }
    }

  }

}

.booking-desc {
  table {
    margin-top: $margin-base;
    td {
      &.desc-user-id-col {
        min-width: 120px;
      }
      &.desc-date-col {
        min-width: 150px;
      }
    }
  }
  .submit-container {
    padding: $padding-base 0 0;
  }
}

.booking-filters {
  .form-row .control-label {
    min-width: 130px;
    &.sm {
      min-width: 80px;
    }
  }
}

.booking-name, .booking-date {
  width: 280px;
  margin-left: $margin-lg;
}

.booking-creator {
  width: 200px;
}

